<div class="packing_slip">
	<p class="packing_slip_header">Packing Slip<p>
  <%= render(:partial=>"packing_slip_details") %>
</div>
<div class="packing_slip" >
	<p class="packing_slip_header">Packing Slip (duplicate for the Royalty Department)<p>
  <%= render(:partial=>"packing_slip_details") %>
</div>
