<p id="caption">Payment processed.</p>

<p id="action">Action Message: <span><%= @payment.action_message %></span></p>

<p><%= render(:partial=>@payment.get_processed_partial)%></p>

<%= link_to "<- Back to New Payment", {:action=>:index}, :class=>"back_link"%>
